[
    {
        chat_client,
        [
            {
                server,
                'server@127.0.0.1'
            },
            {
                username,
                "Saras"
            },
            {
                password,
                "123"
            }
        ]
    }
].