{
    sub_dirs,
    [
        "apps/chat_client",
        "apps/chat_server",
        "rel"
    ]
}.
{
    deps,
    [
        {
            lager,
            ".*",
            {
                git,
                "https://github.com/erlang-lager/lager",
                "master"
            }
        }
    ]
}.
{
    erl_opts,
    [
        {
            parse_transform,
            lager_transform
        }
    ]
}.
